absl-py==2.3.0
accelerate==1.3.0
addict==2.4.0
aiobotocore==2.22.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.7
aioitertools==0.12.0
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
art==6.5
attrs==25.3.0
axolotl @ git+https://github.com/OpenAccess-AI-Collective/axolotl@3c743c4bfbbcb2538b3867ebd4ac7598db3884d0
axolotl-contribs-lgpl==0.0.3
bitsandbytes==0.45.2
botocore==1.37.3
cachetools==5.5.2
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
cmake==4.0.2
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
cycler==0.12.1
DataProperty==1.1.0
datasets==3.2.0
decorator==5.2.1
deepspeed==0.16.1
deepspeed-kernels==0.0.1.dev1698255861
dill==0.3.8
docker-pycreds==0.4.0
einops==0.8.1
evaluate==0.4.1
fastapi==0.115.12
fastcore==1.8.2
ffmpy==0.6.0
filelock==3.13.1
fire==0.7.0
flash_attn==2.7.4.post1
fonttools==4.58.1
frozenlist==1.6.0
fsspec==2024.9.0
gcsfs==2024.9.0.post1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.25.0
google-auth==2.40.2
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gradio==3.50.2
gradio_client==0.6.1
grpcio==1.72.1
grpclib==0.4.7
h11==0.16.0
h2==4.2.0
hf-xet==1.1.2
hf_transfer==0.1.9
hjson==3.1.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.32.3
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
immutabledict==4.2.0
importlib_resources==6.5.2
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.5.1
jsonlines==4.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
langdetect==1.0.9
liger_kernel==0.5.2
llvmlite==0.44.0
lm_eval==0.4.7
lxml==5.4.0
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.3
mbstrdecoder==1.1.4
mdurl==0.1.2
modal==0.70.5
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.4
multiprocess==0.70.16
narwhals==1.41.0
networkx==3.3
ninja==1.11.1.4
nltk==3.9.1
numba==0.61.2
numexpr==2.10.2
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.1.105
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
optimum==1.16.2
orjson==3.10.18
packaging==23.2
pandas==2.2.3
pathvalidate==3.2.3
peft==0.14.0
pillow==10.4.0
platformdirs==4.3.8
portalocker==3.1.1
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybind11==2.13.6
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.3
pytablewriter==1.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
responses==0.18.0
rich==14.0.0
rouge-score==0.1.2
rpds-py==0.25.1
rsa==4.9.1
s3fs==2024.9.0
sacrebleu==2.5.1
safetensors==0.5.3
schedulefree==1.3
scikit-learn==1.4.2
scipy==1.15.3
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.29.1
setproctitle==1.3.6
shellingham==1.5.4
sigtools==4.0.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sqlitedict==2.1.0
starlette==0.46.2
sympy==1.13.1
synchronicity==0.9.12
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
threadpoolctl==3.6.0
tokenizers==0.21.1
toml==0.10.2
torch==2.5.1+cu121
torchao==0.7.0
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
tqdm-multiprocess==0.0.11
transformers==4.48.3
triton==3.1.0
trl==0.15.0
typepy==1.3.4
typer==0.16.0
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.3
wandb==0.19.11
watchfiles==1.0.5
websockets==11.0.3
Werkzeug==3.1.3
word2number==1.1
wrapt==1.17.2
xformers==0.0.29.post1
xxhash==3.5.0
yarl==1.20.0
zstandard==0.22.0
